$violet: #793AFE;
$font: 'Montserrat', sans-serif;
$white: #FFF;
$black: #000;
$red: #C92F2F;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

.content {
  display: flex;
  margin: 50px auto 50px;
  padding: 0 16px;
  max-width: 500px;
  flex-direction: column;
  align-items: center;
  font-family: $font;
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 1000px;
  width: 100%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 4px transparentize($black, 0.75);
  margin-bottom: 25px;
  border-radius: 8px;
  button {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: $violet;
    color: $white;
    font-size: 24px;
    box-shadow: none;
    margin: 20px 0;
    border: none;
    box-shadow: 0 2px 4px transparentize($black, 0.75);
  }
  .remove {
    background-color: $red;
  }
  .card-img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
  }
  .card-title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 500;
  }
  .card-description {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    text-align: justify;
  }
}



h1::first-letter, .title::first-letter, span {
  color: $violet;
}
