<div class="content" role="main">
  <h1>{{ appTitle }}</h1>
  <div class="card" style="padding: 20px; box-sizing: border-box;">
    <input name="title" [(ngModel)]="title" placeholder="Название товара"/>
    <input type="number" name="price" [(ngModel)]="price" placeholder="Цена в рублях"/>
    <input name="imgurl" [(ngModel)]="imgurl" placeholder="URL изображения"/>
    <textarea name="description" [(ngModel)]="description" placeholder="Описание"></textarea>
    <button (click)="addProduct(title, price, description, imgurl)">Добавить</button>
  </div>
  <div class="card" *ngFor="let p of products; index as i">
      <div class="card-img" style="background-image: url({{ p.imgurl }})"></div>
      <div class="card-title"><div class="title">{{ p.title }}</div><div>{{ p.price }}<span>₽</span></div></div>
      <div class="card-description">{{ p.description }}</div>
      <button class="remove" (click)="removeProduct(i)">Убрать</button>
  </div>
</div>
